body {
	font-family:Calibri;
	background-image:url(images/background1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	font-weight:bolder;
	font-size:large;
	color:white;
}

h1, h2{
	color:bisque;
}

.flex-container{
	width:100%;
	display:flex;
	flex-direction:column;	
}

.invisible{
	visibility:hidden;
}

header {
	border: 2px;
	align-self:center;
	
}

.flex-item{
	display:inline-flex;
	margin-right:10px;
}

form{
	align-self:center;
	display:flex;
	flex-direction:column;
	
}

input {
		margin-bottom: 10px;
		border: 2px groove black;
		color: white;
		background: none;
}

form > label{
	margin-top:10px;
}


a{
	text-decoration:none;
	color:white;
	padding-right:3px;
}

a:hover{
	text-decoration:underline;
}

.column{
	align-self:center;
	margin-top:20px;
}

th, td{
	padding-right:10px;
	padding-bottom:10px;
}

th{
	font-size:larger;
	color:antiquewhite;
	position:

}

select{
	background:none;
	border: 2px solid black;
}






.land {
	stroke: hsl(212, 44%, 28%);
	stroke-width: 0.5px;
}

	.land:hover,
	.land:focus {
		stroke: #00000;
		stroke-width: 1.5px;
	}

.class1 {
	fill: hsl(60, 99%, 92%);
}

.class2 {
	fill: hsl(45, 99%, 78%);
}

.class3 {
	fill: hsl(40, 99%, 65%);
}

.class4 {
	fill: hsl(32, 99%, 58%);
}

.class5 {
	fill: hsl(24, 99%, 40%);
}

.class6 {
	fill: hsl(18, 99%, 30%);
}

.class7 {
	fill: hsl(212, 44%, 28%);
	stroke: hsl(212, 44%, 28%);
}

rect {
	stroke: hsl(212, 44%, 28%);
	stroke-width: 0.5px;
}

.land-name {
	text-anchor: end;
	font-weight: bold;
}

#map {
	height: 180px;
}